{% extends "o_website/base.html" %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sesje obiadowe w których brałeś udział</h3>
        </div>
        <div class="panel-body">
            {% if not so %}
            Nie utworzyłeś żadnych sesji obiadowych.
            {% else %}
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Jadłodajnia</th>
                    <th>Data obiadu</th>
                    <th>Godzina obiadu</th>
                    <th>Wydatki</th>
                </tr>
                {% for e in so %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.sesja_obiadowa.jadlodajnia }}</td>
                    <td>{{ e.sesja_obiadowa.data_obiadu }}</td>
                    <td>{{ e.sesja_obiadowa.godzina_obiadu }}</td>
                    <td>{{ e.total_price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Razem:</th>
                    <th>{{ total_price }}</th>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sesje obiadowe które założyłeś</h3>
        </div>
        <div class="panel-body">
            {% if not so2 %}
            Nie utworzyłeś żadnych sesji obiadowych.
            {% else %}
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Jadłodajnia</th>
                    <th>Data obiadu</th>
                    <th>Godzina obiadu</th>
                    <th></th>
                </tr>
                {% for e in so2 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.jadlodajnia }}</td>
                    <td>{{ e.data_obiadu }}</td>
                    <td>{{ e.godzina_obiadu }}</td>
                    <td><a href="{% url 'raport' e.id %}">Raport</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}